div.navbar {
  width: 100vw;
  background-color: #000;
}

div.navbar > ul.navbar-list {
  display: flex;
  margin: 0;
  padding: 10px;
}

ul.navbar-list > li.navbar-list-item {
  margin: 5px;
}

li.navbar-list-item a {
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.5s;
}

li.navbar-list-item a:hover {
  opacity: 1;
  transition: opacity 0.5s;
}