div.post-generator {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
}

div.post-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  opacity: 0.8;
  border: 1px solid #000;
  border-radius: 5px;
}

button.generate-btn {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 200;
  transition: all 0.5s;
}

button:focus {
  outline: none;
}

button:active {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.5s;
}

button.generate-btn:hover, button.post-comment-btn:hover {
  color: #fff;
  background-color: #000;
  transition: all 0.5s;
}

hr.splitter {
  height: 1px;
  width: 80%;
  border: none;
  margin: 10px auto;
  background: linear-gradient(90deg, rgba(233,233,231,0) 0%, rgba(0,0,0,1) 51%, rgba(244,244,244,0) 100%);
}

button.post-comment-btn, button.post-like-btn {
  margin: 5px 10px;
  padding: 2px 10px;
  font-size: 16px;  transition: all 0.5s;
}

button.post-like-btn {
  border-color: #477aff;
  color: #477aff;
}

button.post-like-btn:hover {
  background-color: #477aff;
  color: #fff;
  transition: all 0.5s;
}